.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.albums-wrap {
  width: 70%;
  margin: auto;
  text-align: center;
  border:1px solid black;
}

.album-header {
  border-bottom: 1px solid green;
  background-color: gray;
}

.album-wrap {
  width: 70%;
  margin: auto;
  text-align: center;
  border:1px solid black;
  display: flex;
}

p {
  margin: 0;
  line-height: 100px;
  font-size: xx-large;
}

.album-list {
  margin:30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.album-cover {
  list-style-type: none;
  margin:30px;
}

.album-cover img {
  height: 200px;
  width: 200px;
}
.album-cover a{
  text-decoration-line: none;
  color: black;
}

.album-cover a:hover{
  color: lightblue;
}

.left-nav {
  width: 20%;
  background-color: gray;
  display: grid;
}

.left-nav a{
  text-decoration-line: none;
  color: black;
}

.small-album {
  width: -webkit-fill-available;
}

.test {
  background-color: white;
  width: 70%;
  margin: auto;
  list-style-type: none;
  margin-bottom: 15px;
  box-shadow: 2px 2px 2px 3px;
  padding: 5px 0px;
}

.test:hover{
  box-shadow: 2px 2px 2px 3px seagreen; 
}

.photo-tab {
  border: 1px solid white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.photo-tab a {
  text-decoration-line: none;
}

.photo-tab li {
  list-style-type: none;
}

h5 {
  margin: 0;
}

.photo-wrap {
  text-align: center;
  background-color: gray;
}

.back-button {
  position: absolute;
  margin: 30px;
}

button a {
  text-decoration-line: none;
  color: black;
}

.photo-head {
  border: 1px solid red;
}

.photo-box {
  border: 1px solid black;
}
.nav {
  padding-left:0;
  margin: auto;
  margin-left: 0px;
  margin-right: 0px;
}